*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: block;
}

form{
    border-style: solid;
    background-color: #ffffff;
    display: inline-block;
    justify-content: center;
    align-items: center;
    border-color: #ffffff;
    padding: 50px 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.171);
}

h1{
    margin-bottom: 20px;
}

input {
    width: 400px;
    padding: 15px;
    background-color: #f1f1f1;
    border: none;  /* Remove border */
    outline: 2px solid transparent;  /* Invisible outline by default */
    outline-offset: 2px;  /* Space between input and outline */
    border-radius: 5px;
    margin: 5px 0;
}

input.valid {
    outline-color: green !important;
}

input.invalid {
    outline-color: red !important;
}

label{
    font-weight: bolder;
    padding-bottom: 20px;
}

input[type="submit"]{
    margin-top: 20px;
    margin-bottom: 15px;
    color: #f8f7f6;
    background-color: #1b75fc;
    font-weight: bolder;
}